@import url("https://fonts.googleapis.com/css?family=Raleway|Barlow+Condensed|Spectral+SC");

* {
  box-siding: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fdee92 url("../bg.jpg") no-repeat fixed;
  background-size: cover;
  color: #000;
  font-family: Raleway, sans-serif;
  line-height: 1.3em;
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  height: 100%;
}

#wrapper {
  width: 100%;
  margin: 0 auto -50px auto;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  display: inline-block;
  font-family: 'Spectral SC', Raleway, sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 0.02em;
  float: left;
  margin-top: 0.3em;
  padding: 0 0.3em;
  color: #ede3d7;
  text-shadow: 1px 0 2px #722600;
}

h2 {
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
  margin-top: 0.5em;
}

p {
  font-size: 0.9em;
  margin: 0.5em 0 2em 0;
}

@media only screen and (min-width: 411px) {
  h1 {
    font-size: 2em;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 32px;
  }
}

@media only screen and (min-width: 701px) {
  h1 {
    font-size: 3.4em;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 48px;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1001px) {
  h1 {
    font-size: 4em;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
