header {
  padding: 1.5em 0;
  margin: 0 0 1em 0;
  background: #001615;
  background: linear-gradient(45deg, #000, #001615);
  opacity: 0.5;
  box-shadow: 1px 1px 2px #722600;
}

@media only screen and (min-width: 701px) {
  header {
    padding: 2em 0;
  }
}

@media only screen and (min-width: 1001px) {
  #headerwidth, main {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.main-nav ul {
  display: inline-block;
  float: right;
  margin-top: 0.1em;
}

.main-nav li {
  display: inline-block;
  font-size: 1.2em;
}

.container {
  margin: 0 0.2em;
}

fieldset {
  border: solid 1px #ede3d7;
  padding: 1em;
  border-radius: 0.3em;
  margin: 1em auto;
  font-size: 0.9em;
  background: -webkit-linear-gradient(45deg, #ffcfb7, #ffeae0);
  background: -o-linear-gradient(45deg, #ffcfb7, #ffeae0);
  background: -moz-linear-gradient(45deg, #ffcfb7, #ffeae0);
  background: linear-gradient(45deg, #ffcfb7, #ffeae0);
  opacity: 0.8;
  box-shadow: 1px 1px 2px #722600;
  max-width: 700px;
}

legend {
  font-weight: 900;
  font-size: 1.2em;
  display: none;
}

@media only screen and (min-width: 411px) {
  fieldset {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1001px) {
  #tempfieldset {
    float: right;
    clear: right;
  }
}


input, button {
  font-size: 1.1em;
  padding: 0.6em;
  font-weight: 100;
  outline: none;
  border: 0.5px solid #999;
  border-radius: 2px;
}

input::placeholder {
  color: #bbb;
}

input[type=text], input[type=password] {
  width: 90%;
  margin: 0.5em 0 1em 0;
}

select {
  background: #fff;
  font-size: 1.1em;
  font-weight: 100;
  outline: none;
  width: 100%;
  margin-bottom: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.6em;
  border: solid 1px #1c4f25;
  border-radius: 2px;
  color: #000;
}

option {
  background: #fff;
}

input[type=submit], button {
  border: 0;
  padding: 13px 35px;
  font-weight: 500;
  color: #444;
  background: #fff;
  border: solid 1px #1c4f25;
  border-radius: 2px;
  margin: 0.5em 0.2em 1em 0.2em;
}

input[type=submit]:active {
  color: #fff;
  background: #333;
}

label {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
}

footer {
  font-size: 14px;
  line-height: 17px;
  height: 50px;
  background: #001615;
  background: linear-gradient(45deg, #000, #001615);
  opacity: 0.5;
  box-shadow: 1px 1px 2px #722600;
  color: #ede3d7;
  text-align: center;
  clear: both;
}
